<!-- Page Content goes here -->
<!-- navbar with tabs -->
<nav>
    <div class="nav-wrapper container">
        <img src="../images/logo.png" alt="logo" class="logo">
        <a href="/" class="brand-logo">Edu-Care</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/schools">Schools</a></li>
            <li><a href="/become-a-volunteer">Volunteers</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/schools">Schools</a></li>
            <li><a href="/become-a-volunteer">Volunteers</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <div class="row">
            <h1>Welcome, Schools</h1>
            <p>Here you can find info on volunteers.</p>
        </div>
        <!-- Filter -->
        <div class="row">
            <h4>Filter Results</h4>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header" id="category-header">Volunteer Category</div>
                    <div class="collapsible-body">
                        <form id="filter-category-form">
                            <p>
                                <input type="checkbox" id="panelist" data-category="panelist" />
                                <label for="panelist">Panelist</label>
                            </p>
                            <p>
                                <input type="checkbox" id="lecturer" data-category="lecturer" />
                                <label for="lecturer">Lecturer</label>
                            </p>
                            <p>
                                <input type="checkbox" id="judge" data-category="judge"/>
                                <label for="judge">Competition Judge</label>
                            </p>
                            <p>
                                <input type="checkbox" id="career" data-category="career"/>
                                <label for="career">Career Guidance</label>
                            </p>
                            <p>
                                <input type="checkbox" id="shadowing" data-category="shadowing"/>
                                <label for="shadowing">Job Shadowing</label>
                            </p>
                            <p>
                                <input type="checkbox" id="general" data-category="general"/>
                                <label for="general">General Volunteering</label>
                            </p>
                        </form>
                        <p>Click on at least one category to filter the results.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Volunteer Specialty</div>
                    <div class="collapsible-body">
                        <form>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">textsms</i>
                                <input type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Volunteer Specialty</label>
                            </div>
                        </form>
                        <p>Start typing a search term and click on the suggested term which best matches.</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Collection of volunteer data -->
        <div class="row">
            <ul class="collection">
                {{#each listings}}
                <li class="collection-item item-{{this.category}}" data-category="{{this.category}}">
                    <div>
                        <h4>Name: <span class="volunteer_name">{{this.Volunteer.volunteer_first_name}} {{this.Volunteer.volunteer_last_name}}</span></h4>
                        <p>Location: <span class="volunteer_preferred_city">{{this.Volunteer.preferred_city}}</span></p>
                        <p>Category: <span class="volunteer_category">{{this.category}}</span></p>
                        <p>Specialty: <span class="volunteer_specialty">{{this.specialty}}</span></p>
                        <p>Bio: <span class="volunteer_bio">{{this.Volunteer.bio}}</span></p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Edu-care</h5>
                <p class="grey-text text-lighten-4">Edu-care connects schools with volunteers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Learn More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Edu-care Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Team Edu-care
        </div>
    </div>
</footer>
<!-- Materialize initialization -->
<script type="text/javascript" src="/js/initialization.js"></script>
<script type="text/javascript" src="/js/filter.js"></script>