<!-- Page Content goes here -->
<!-- navbar with tabs -->
<nav class="nav-extended">
    <div class="nav-wrapper container">
        <img src="../images/logo.png" alt="logo" class="logo">
        <a href="/" class="brand-logo">Edu-Care</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/schools">Schools</a></li>
            <li><a href="/become-a-volunteer">Volunteers</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/schools">Schools</a></li>
            <li><a href="/become-a-volunteer">Volunteers</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div class="nav-content container">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#volunteer-info">Your Information</a></li>
            <li class="tab"><a href="#new-listing">Add A Listing</a></li>
            <li class="tab"><a href="#volunteer-listings">Your Current Listings</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <h1>Volunteer Dashboard</h1>
        <!-- volunteer info -->
        <div class="row" id="volunteer-info">
            <h2>Your Information</h2>
            <div>
                <h4>Name: <span class="volunteer_name">{{volunteer.volunteer_first_name}} {{volunteer.volunteer_last_name}}</span></h4>
                <p>Location: <span class="volunteer_preferred_city">{{volunteer.preferred_city}}</span></p>
                <p>Email: <span class="volunteer_email">{{volunteer.email}}</span></p>
                <p>Bio: <span class="volunteer_bio">{{volunteer.bio}}</span></p>
            </div>
        </div>
        <!-- new listing form -->     
        <div class="row" id='new-listing'>
            <h2>Add a New Listing.</h2>
            <p>Edu-care connects schools with volunteers. Please tell us more about yourself.</p>
            <form class="col s12" id="new-listing-form">
                <!-- Category -->
                <div class="row">
                    <div class="input-field col s6">
                        <select id="category" required>
                            <option value="" disabled selected>Volunteer Category</option>
                            <option value="panelist">Panelist</option>
                            <option value="lecturer">Lecturer</option>
                            <option value="judge">Competition Judge</option>
                            <option value="career">Career Guidance</option>
                            <option value="shadowing">Job Shadowing</option>
                            <option value="general">General Volunteering</option>
                        </select>
                        <label>Volunteer Category</label>
                    </div>
                    <!-- Specialty -->
                    <div class="input-field col s6">
                        <input placeholder="e.g. Computer Science" id="specialty" type="text" class="validate" required>
                        <label for="specialty">Your Specialty</label>
                    </div>
                </div>
                <!-- Submit button -->
                <button class="btn waves-effect waves-light red accent-2" type="submit" id="listing-form-submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>   
        
        <!-- volunteer listings -->
        <div class="row" id="volunteer-listings">
            <h2>Your Listings.</h2>
            <p>This is what you shared.</p>
            <ul class="collection">
                {{#each listings}}
                <li class="collection-item">
                    <div>
                        <h4>Name: <span class="volunteer_name">{{this.Volunteer.volunteer_first_name}} {{this.Volunteer.volunteer_last_name}}</span></h4>
                        <p>Location: <span class="volunteer_location">{{this.Volunteer.preferred_city}}</span></p>
                        <p>Category: <span class="volunteer_category">{{this.category}}</span></p>
                        <p>Specialty: <span class="volunteer_specialty">{{this.specialty}}</span></p>
                        <p>Bio: <span class="volunteer_bio">{{this.Volunteer.bio}}</span></p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Edu-care</h5>
                <p class="grey-text text-lighten-4">Edu-care connects schools with volunteers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Learn More</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Edu-care Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Team Edu-care
        </div>
    </div>
</footer>
<!-- Materialize initialization -->
<script type="text/javascript" src="/js/initialization.js"></script>
<script type="text/javascript" src="/js/newListingForm.js"></script>